
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(179, 179, 179);
}

.sidebar-header{
    background-color: whitesmoke;
}

.sidebar-header img{
    width: 20%;
    border-radius: 25px;
}

#green-line-background{
    height: 150px;
    background-color: green;
    position: absolute;
    
}

#sidebar-left{
    height: 800px;
    background-color: white;
}

#sidebar-right{
    height: 800px;
    background-image: url(../img/mine.jpg);
    background-repeat: inherit;
    position: relative;
}

#popup-notifica{
    background-color: lightskyblue;
}

#popup-notifica i{
    color: white;
}

#popup-notifica span{
    font-size: 0.9em;
}

#popup-notifica p{
    font-size: 0.7em;
    color: grey;
}

#searchbar{
    background-color: rgb(255, 255, 239);
}

#input-search-bar{
    width: 100%;
}


