
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(179, 179, 179);
}

.sidebar-header{
    background-color: whitesmoke;
    height: 70px;
}

.sidebar-header i{
    color: grey;
}

.sidebar-header img{
    width: 20%;
    border-radius: 25px;
}

.text-riga{
    line-height: 40px;
}

#sidebar-left{
    height: 800px;
    background-color: white;
}

#sidebar-right{
    height: 800px;
    background-image: url(../img/mine.jpg);
    background-repeat: inherit;
    position: relative;
}

#contenitore-immagine-header-dx img{
    height: 80%;
}

#popup-notifica{
    background-color: lightskyblue;
}

#popup-notifica i{
    color: white;
}

#popup-notifica span{
    font-size: 0.9em;
}

#popup-notifica p{
    font-size: 0.7em;
    color: grey;
}

#searchbar{
    background-color: rgb(230, 230, 230);
}

#input-search-bar{
    width: 100%;
}

#footer-sidebar-right{
    background-color: white;
    height: 45px;
}

#main-container-seidebar-right{
    height: calc(100% - 70px - 45px);
    flex-direction: column;
}

#container-chat-attive img {
    height: 60px;
    border-radius: 100%;
}

#left-side-main{
    height: 100%;
    background-color: cadetblue;
}

#right-side-main{
    height: 100%;
    background-color: brown;

}

.message{
    width: 100%;
    vertical-align: middle;
}

.message-container{
    background-color: white;
    height: 40px;
    font-size: 0.8em;
    border-radius: 10px;
    padding-left: 10px;
    width: 50%;
}

.message .sent{
    align-self: flex-end;
}


.sent .message-container{
    background-color: lightgreen;

}


